html, body {
	height: 100%;

}
.wrapper {
	height: 100%;
	border: 1px solid black;
}
.head {
	border: 1px solid black ;
	font-family: Arial;
	font-size: 40px;
	color: #b2b2b2;
	text-align: center;

}
.gameboard {
	margin: auto;
	border: 1px solid black;
	height: 306px;
	width: 306px;
}
.cells {
	height: 100px;
	width: 100px;
	border: 1px solid black;
	float: left;
}
.clear {
	clear:both;
}
.wrapper2{
	margin: auto;
	border:1px solid black;
	height: 150px;
	width: 400px;
}
.player1 {
	height: 100px;
	width: 100px;
	border: 1px solid black;
	display: inline-block;
	float: left;
}
.player2 {
	height: 100px;
	width: 100px;
	border: 1px solid black;
	display: inline-block;
	float: right;
}
.wrapper3 {
	margin: auto;
	border:1px solid black;
	height: 100px;
	width: 800px;
}
.weapons {
	height: 100px;
	width: 100px;
	/*background-image: url(../images/picX.png);*/
	background-size: 100px;
	background-repeat: no-repeat;
	background-position: center;
	border: 1px solid black;
	display: inline-block;
	float: left;
}
.xclass {
	background-image: url(../images/picX.png);
	background-size: 100px;
	background-repeat: no-repeat;
	background-position: center;
}
.oclass {
	background-image: url(../images/picO.jpeg);
	background-size: 100px;
	background-repeat: no-repeat;
	background-position: center;
}
