html, body {
	height: 100%;

}
.wrapper {
	height: 100%;
	border: 1px solid black;
}
.head {
	border: 1px solid black ;
	font-family: Arial;
	font-size: 40px;
	color: #b2b2b2;
	text-align: center;

}
.gameboard {
	margin: auto;
	border: 1px solid black;
	height: 306px;
	width: 306px;
}
.cells {
	height: 100px;
	width: 100px;
	border: 1px solid black;
	float: left;
}
.clear {
	clear:both;
}
.red {

    background-image: url(/Users/bobbyfisher/TTT/images/picX.png);

}