html, body {
	height: 100%;

}
.wrapper {
	height: 100%;
	border: 1px solid black;
}
.head {
	border: 1px solid black ;
	font-family: Arial;
	font-size: 40px;
	color: #b2b2b2;
	text-align: center;

}
.board {
	margin: auto;
	border: 1px solid black;
	height: 306px;
	width: 306px;
}
.box0, .box1, .box2, .box3, .box4, .box5, .box6, .box7, .box8 {
	height: 100px;
	width: 100px;
	border: 1px solid black;
	float: left;

}
.red {
	max-width: 100px;
    max-height: 100px;
    background-image: url(/Users/bobbyfisher/TTT/images/picX.png);

}