<!DOCTYPE html>
<html ng-app="myApp">
<head>
	<meta charset="UTF-8">
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>	
	<script type="text/javascript" src="js/main.js"></script>
	<link rel="stylesheet" type="text/css" href="css/style.css">

	<title>TIC TAC TOE</title>
</head>
<body>
{{"Working"}}
	<div class="wrapper" ng-controller="myController">
		
		<div class="head">TIC TAC TOE</div>
		<div class="gameboard">
			<div class="cells" ng-click="logClick(c)" ng-repeat="c in boxes">
				{{c.number}} <!-- testing angular app -->
			</div>
		</div>


	</div>
</body>
</html>

