<!DOCTYPE html>
<html ng-app="MyApp">
<head>
	<meta charset="UTF-8">
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>	
	<script type="text/javascript" src="js/main.js"></script>
	<link rel="stylesheet" type="text/css" href="css/style.css">

	<title>TIC TAC TOE</title>
</head>
<body>
{{"Working"}}
	<div class="wrapper" ng-controller="myController">
		
		<div class="head">TIC TAC TOE</div>
		<div class="gameboard">
			<div class="cells" ng-click="logClick(c)" ng-repeat="c in boxes" ng-class="{oclass: c.number=='O', xclass: c.number=='X'}">
				{{c.number}} <!-- testing angular app -->
			</div>
		</div>
		<div class="wrapper2">
			<div class="player1">PLAYER 1</div>
			<div class="player2">PLAYER 2</div>
		</div>
		<div class="wrapper3">
			<div class="weapons" ng-repeat="p in pictures">{{test}}</div>
		</div>
		<!-- <select x-ng-model="rateMe">
			<option value="1">1</option>
			<option value="2">2</option>
			<option value="3">3</option>
			<option value="4">4</option>
			<option value="5">5</option>
		</select> -->

		<!-- <div x-our-rating="1:2:3" x-rating-value=""></div> directive --> 
		<!-- <ul>
			<li x-ng-repeat="i in issues">{{i.title}}</li>
		</ul> -->
		


	</div>
</body>
</html>

